:root {
  --page: #35424a;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  /* font: 15px/1.5 Arial, Helvetica, sans-serif; */
  padding: 0;
  margin: 0;
  background-color: rgb(233, 252, 251);
}
a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: var(--page);
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: rgb(228, 103, 20) 3px solid;
}

header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0px 16px;
}

header #branding {
  float: left;
}
header #branding a {
  font-size: 30px;
}

header #branding span {
  font-size: 40px;
}

header #branding h1 {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
}

header nav {
  float: right;
  margin-top: 15px;
}

header .highlight,
header .current a {
  color: red;
  font-weight: bold;
}

header a:hover {
  /* color: #cccccc; */
  font-weight: bold;
}

#showcase {
  min-height: 400px;
  background: url("../images/bg2c.jpg") no-repeat 0 -350px;
  color: white;
  opacity: 0.9;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
  opacity: 1;
}

#showcase p {
  font-size: 15px;
  text-align: center;
  opacity: 1;
}

#newsletter {
  padding: 5px;
  color: solid white;
  background-color: rgba(255, 70, 00, 0.8);
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 18px;
}

#newsletter input[type="email"] {
  padding: 4px;
  width: 250px;
  height: 20px;
}

#newsletter .button {
  padding: 7px;
  font-weight: bold;
}
/* 
######################## */

/* ################# */
#products h1 {
  font-size: 25px;
  margin-top: 40px;
  color: chocolate;
  background-color: rgb(157, 243, 240);
}
#boxes {
  margin-bottom: 20px;
  width: 100%;
  /* background-color: rgb(216, 252, 251); */
}

#boxes .box1,
.box2,
.box3,
.box4,
.box5 {
  float: left;
  text-align: center;
  padding: 10px;
  padding: 20px;
  position: relative;
  margin-bottom: 5px;
  margin-right: 5px;
}

#boxes img:hover {
  border: 4px solid black;
  box-sizing: border-box;
}

#boxes a {
  font-weight: bold;
}
#boxes img {
  width: 220px;
  float: left;
  border: 2px dotted black;
}

footer {
  background: orangered;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: rgb(228, 103, 20) 3px solid;
}

footer a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

footer #copyright {
  float: left;
}
footer li {
  float: right;
  display: inline;
  padding: 0px 16px;
  margin-top: 12px;
}

footer a:hover {
  font-weight: bold;
  color: black;
}

#main #main-col {
  float: left;
  width: 55%;
  text-align: left;
}

#main-col .dark {
  color: rgb(14, 104, 240);
  background-color: rgb(30, 30, 30);
  padding: 20px;
}

#sidebar .dark {
  float: right;
  color: rgb(14, 104, 240);
  background-color: rgb(30, 30, 30);
  width: 40%;
  margin-top: 70px;
  height: 200px;
  padding-left: 20px;
}

.contact h1 {
  font-size: 30px;
  color: black;
  font-weight: bolder;
  text-align: center;
  margin-top: 80px;
  text-transform: capitalize;
}

.contact img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

.contact .form {
  /* border: 2px dotted black; */
  width: 300px;
  margin: 20px auto;
}
.contact .form h3,
input,
textarea,
button h3 .name_n {
  margin-left: 20px;
  width: 240px;
  display: inline;
}
.contact .form input {
  height: 20px;
}

.contact .form .button {
  padding: 7px;
  font-weight: bold;
  background-color: grey;
  color: white;
  font-size: large;
  width: 240px;
  margin: 20px 26px;
}
.contact .form .button {
  height: 50px;
}
.numbers h2 {
  margin: 180px auto;
  text-align: center;
}
