/* background-color: rgb(233, 252, 251); */
body {
  margin: 0;
  padding: 0;
  background: url(../images/bg_login.png) no-repeat center fixed;
  background-size: cover;
  font-family: sans-serif;
}

.loginbox {
  width: 320px;
  height: 420px;
  background: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-40%, -29%);
  box-sizing: border-box;
  color: #fff;
  padding: 70px 30px;
  margin-bottom: 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  /* border: 4px solid black; */
  border-radius: 50%;
}

#log_head {
  margin: 0;
  padding: 0 0 25px;
  text-align: center;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0px;
}
.loginbox input[type="text"],
input[type="password"],
input[type="tel"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent; /*uncomment it to see the changes*/
  outline: none;
  height: 40px;
  color: rgb(192, 187, 187);
  font-size: 16px;
  font-family: monospace;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #0fa372;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #21da9c;
  color: #fff;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: rgb(99, 97, 97);
}
.loginbox a:hover {
  color: rgb(248, 240, 240);
}
